body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.bar-top {
    position: absolute;
    background-color: rgb(95, 158, 160);
    /* border-bottom: 3px solid #333; */
    position: fixed;
    width: 100%;
    height: 125px;
    z-index: 999;
}

.left-bottom-menu {
    position: fixed;
    margin-top: 125px;
    width: 13%;
    float: left;
    height: 600px;
    background-color: rgb(72, 109, 110);
    z-index: 999;
    font-weight: 600;
    font-family: '宋体';
    font-size: 18px;
}

.bar-name {
    /* border: 1px solid #333; */
    position: relative;
    width: 13%;
    height: 125px;
    font-size: 30px;
    text-align: center;
    line-height: 125px;
    float: left;
    background-color: rgb(69, 106, 107);
    border-bottom: 1px solid rgb(95, 158, 160);
    /* background-image: url('../ah-img/title.png');
    background-size: 100% 150%;
    background-position: 50% 40%;
    background-repeat: no-repeat; */
}

.bar-name p {
    margin: 0;
    font-size: 30px;
    line-height: 125px;
    color: rgb(235, 238, 48);
    font-family: Arial, Helvetica, sans-serif;
}

.location {
    position: relative;
    float: left;
    width: 87%;
    margin-left: 20px;
}

.location p {
    position: relative;
    height: 40px;
    line-height: 40px;
    color: rgb(238, 255, 0);
    font-size: 21px;
}

.top-menu {
    position: relative;
    height: 38px;
    width: 87%;
    margin-top: 1%;
    margin-left: 13%;
}

.top-menu ul {
    margin-top: 0;
    margin-bottom: 0;
}

.top-menu ul li {
    float: left;
    margin-left: 20px;
    line-height: 38px;
    height: 38px;
}

.top-menu ul li a {
    font-size: 16px;
    font-weight: 600;
    color: rgb(68, 66, 88);
}

.top-bottom-menu {
    position: relative;
    width: 87%;
    /* background-color: #444; */
}

.left-menu {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 20px;
    height: 400px;
}

.left-menu p {
    text-align: center;
    font-size: 1.2em;
}

.left-menu p a {
    color: rgb(38, 37, 49);
}

.cook-sort {
    position: relative;
    width: 87%;
    height: 38px;
    margin-left: 13%;
    font-weight: 600;
    /* border:solid; */
}

.cook-sort ul {
    margin-top: 0;
    margin-bottom: 0;
}

.cook-sort ul li {
    float: left;
    margin-left: 20px;
    line-height: 38px;
    height: 38px;
}

.cook-sort ul li a {
    font-size: 16px;
    font-weight: 600;
    color: rgb(68, 66, 88);
}

.cook-order {
    position: relative;
    margin-left: 13%;
    height: 38px;
    width: 87%;
}

.cook-order ul {
    margin-top: 0;
    margin-bottom: 0;
}

.cook-order ul li {
    float: left;
    margin-left: 20px;
    line-height: 38px;
    height: 38px;
}

.cook-order ul li a {
    color: rgb(68, 66, 88);
    font-weight: 600;
}

.main-menu {
    position: relative;
    margin-top: 40px;
    float: left;
    width: 100%;
    height: 580px;
}

.main-bottom-menu {
    position: relative;
    margin-left: 13%;
    float: left;
    margin-top: 100px;
    width: 87%;
    height: 580px;
}

.menu-list {
    margin-top: 20px;
}

.menu-list li {
    width: 19.1%;
    height: 150px;
    float: left;
    margin-left: 5px;
    overflow: hidden;
    border-radius: 20%;
    margin-bottom: 10px;
}

.menu-list li img {
    width: 100%;
    height: 80%;
}

.menu-list li div {
    position: relative;
    width: 100%;
    height: 20%;
    margin-top: -4px;
}

.menu-list li div p {
    color: rgb(70, 67, 67);
    float: left;
    width: 100%;
    line-height: 10%;
    font-size: 16px;
    /* margin-left:10%;  */
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.page-numbers {
    position: relative;
    margin-top: 20px;
    padding-left: 40%;
    line-height: 30px;
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    color: #444;
    font-weight: 600;
}

.page-numbers li {
    float: left;
    margin: 0 10px;
    width: 10px;
}

.page-numbers span {
    margin-left: -82%;
}